.link{
    font-size: var(--font-size);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--font-family);
    padding: 10px;
    color:#4a4a4a;
    font-weight: 500;
    background-color: gray;
}