
.main {
    height: 100vh;
    background-color: #3CDBC0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-transform: capitalize;
    font-size: 30px;
    font-family: var(--font-family);
    font-weight: 700;
    color: #FFF;
    word-spacing: 100vw;
    
}