body {
    width: 100%;
    max-width: 840px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cuadrado-gris{
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border-radius: 20px;
}

.cuadrado-blanco {
    width: 45px;
    height: 45px;
    background-color: lightgray;
    position: relative;
    top: 10px;
    left: 150px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estrella-blanca {
    width: 30px;
    height: 30px;
    background-color: wheat;
    position: relative;
    top: 60px;
    left: 110px;
    transform: rotate(35deg);
}

.estrella-blanca2{
    width: 30px;
    height: 30px;
    background-color: wheat;
    position: relative;
    top: 60px;
    left: 80px;
    transform: rotate(-10deg);
}
.nota {
    font-weight: bold;
}

.title {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 7px;
}

.description{
    color: gray;
    font-size: 17px;    
    position: relative;
    top: 0px;
    margin-left: 8px;
}

.button {
    width: 130px;
    height: 30px;
    border-radius: 8px;
    position: relative;
    top: 30px
}

.grey {
    background-color: lightsteelblue;
    margin-left: 7px;
    margin-right: 5px;
}

.white {
    background-color: lightyellow;
}