.uno{
    height: 100px;
    width: 100px;
    background-color: black;
    display: inline-block;
    /*display:inline; desaparece
    display:inline-block; se separa del de abajo
    display:none; desaparece */
}

.dos{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: block;
}

.tres {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    display: inline;
}