.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.popup{
    border: dotted 2px blueviolet;
    width: 400px;
    height: 200px;
    text-align: center;
}

.hello{
    display: none;
}



.popup:hover{
    transition-property: color ease 1s;
}
