<section class="trial">
  <div class="trial__container">
    <h1 class="trial__container--title">Prueba Premium gratis 3 meses</h1>
    <p class="trial__container--paragraph">
      Escucha millones de canciones sin anuncios, a la carta y sin conexión.
    </p>
    <button class="trial__container--button">
      <a href="">Ver planes</a>
    </button>
    <small class="trial__container--small">
      Rigen términos y condiciones. Los tres meses gratis no están disponibles
      para usuarios que ya hayan probado Premium.
    </small>
  </div>
</section>
