.success {
    border: 2px solid darkgreen;
    background-color: lightgreen;
    color: darkgreen;
}

.error {
    border: 2px solid red;
    background-color: lightpink;
    color: darkred;  
}

.warning {
    border: 2px solid yellow;
    background-color: lightyellow;
    color: yellow;
}